@model HRMS.Models.Department

@{
    ViewData["Title"] = "Update";
}
<main id="main" class="main">
    <section class="section">
        <h1>Update</h1>

        <h4>Department</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Update">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="DeptId" />
                    <div class="form-group">
                        <label asp-for="DeptName" class="control-label"></label>
                        <input asp-for="DeptName" class="form-control" />
                        <span asp-validation-for="DeptName" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="List">Back to List</a>
        </div>
    </section>
</main>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
