@model HRMS.Models.DepartmentPositioncs

@{
    ViewData["Title"] = "Create";
}

<main id="main" class="main">
    <section class="section">
        <h1>Create</h1>

        <h4>Designation</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="DepartmentId" class="control-label"></label>
                        <select asp-for="DepartmentId" class="form-select" asp-items="ViewBag.DepartmentId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="PositionId" class="control-label"></label>
                        <select asp-for="PositionId" class="form-select" asp-items="ViewBag.PositionId"></select>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="List">Back to List</a>
        </div>
    </section>
</main>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
   @if(TempData["DesignationAlert"] != null)
    {
    <script>
        // Show the alert
        Swal.fire({
            title: "Alert",
            text: '@TempData["DesignationAlert"]',
            icon: "warning",
            confirmButtonColor: "#3085d6",
            confirmButtonText: "OK"
        });
    </script>
    }
}
