@model HRMS.Models.DepartmentPositioncs

@{
    ViewData["Title"] = "Details";
}

<main id="main" class="main">
    <section class="section">
        <h1>Details</h1>

        <div>
            <h4>DepartmentPositioncs</h4>
            <hr />
            <dl class="row">
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Department)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Department.DeptName)
                </dd>
                <dt class = "col-sm-2">
                    @Html.DisplayNameFor(model => model.Position)
                </dt>
                <dd class = "col-sm-10">
                    @Html.DisplayFor(model => model.Position.Name)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.No">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </section>
</main>