@model HRMS.Models.PhilHealthPayment

@{
    ViewData["Title"] = "Edit";
}
<main id="main" class="main">
    <section class="section">
        <h1>Edit</h1>

        <h4>Philhealth Payment</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="No" />
                    <div class="form-group">
                        <input asp-for="No" class="form-control" hidden/>    
                    </div>
                    <div class="form-group">
                        <label asp-for="FullName" class="control-label"></label>
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhilHealthNumber" class="control-label"></label>
                        <input asp-for="PhilHealthNumber" class="form-control" />
                        <span asp-validation-for="PhilHealthNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Payment" class="control-label"></label>
                        <input asp-for="Payment" class="form-control" />
                        <span asp-validation-for="Payment" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Month" class="control-label"></label>
                        <input asp-for="Month" class="form-control" />
                        <span asp-validation-for="Month" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Year" class="control-label"></label>
                        <input asp-for="Year" class="form-control" />
                        <span asp-validation-for="Year" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </section>
</main>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
