@{
    ViewData["Title"] = "Home Page";
}
<main id="main" class="main">
    <section class="section">
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <h1 class="display-4">To</h1>
            <h1 class="display-6">Human Resource Management System</h1>
        </div>
    </section>
</main>
