@{
    ViewData["Title"] = "Privacy Policy";
}
<main id="main" class="main">
    <section class="section">
        <div class="text-center">
            <h1 class="display-4">Please Contact the Admin</h1>
            <h1 class="display-4">To</h1>
            <h1 class="display-5">Activate your Acoount</h1>
        </div>
    </section>
</main>
