@model LogInEmployeeViewModel;


<main id="main" class="main">
    <section class="section">
        <div class="container mt-5" style="width: 400px;">
            <form asp-controller="Account" asp-action="Login" method="post">
                <div class="card p-4 text-center">
                    <p class="text-black fs-3">Sign In</p>
                    <p class="text-secondary mt-n3">Please login to continue</p>

                    <div class="text-start">
                        <div>
                            <input class="form-control" asp-for="UserName" placeholder="Email" />
                        </div>

                        <div class="mt-3">
                            <input type="password" class="form-control" asp-for="Password" placeholder="Password" />
                        </div>
                        <div asp-validation-summary="All" class="text-danger" >
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary mt-3">Login</button>

                </div>
            </form>
        </div>
    </section>
</main>

@section Scripts {

}